body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

/* LEAFLET */

.leaflet-container a.leaflet-popup-close-button {
  display: none;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  background: #dcdcdc;
}

.leaflet-control-attribution.leaflet-control {
  display: none;
}

.leaflet-popup-content {
  margin: 0px;
}

.leaflet-popup-content-wrapper {
  border-radius: 4px;
  padding: 0px;
}

.leaflet-popup-content p {
  margin-top: 0px;
}

.leaflet-top {
  top: 142px;
}

.leaflet-left {
  left: 9px;
}

.leaflet-bar a {
  background-color: transparent;
  border-bottom: none
}

.leaflet-bar a.leaflet-disabled {
  color: #606060;
  background-color: transparent;
}

.leaflet-touch .leaflet-control-zoom-out {
  font-size: 50px;
}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
  font-size: 50px;
}

.leaflet-bar a {
  color:  #2d3142;
}

.leaflet-bar a:hover, .leaflet-bar a:focus {
  background-color: transparent;
  color: #f08353;
}

.leaflet-touch .leaflet-bar {
  border: none;
}

.leaflet-top, .leaflet-bottom {
  z-index: 998;
}

.leaflet-touch .leaflet-bar a {
  width: 39px;
  height: 36px;
  line-height: 30px;
  background: rgb(220, 220, 220);
  padding: 5px 5px 10px 5px;
}

/* INPUT */

input[type="file"] {
  display: none;
}

/* SCROLL BAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* MENU */
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);

main {
  z-index: 2;
  position: relative;
  height: 100%;
  background-color: #2D3142;
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
}

.sidebar {
  height: 100%;
  width: 360px;
  position: fixed;
  top: 0;
  z-index: 1;
  right: -459px;
  background-color: #2d3142;
  transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  -webkit-transform: skewX(-14deg);
  -moz-transform: skewX(-14deg);
  -ms-transform: skewX(-14deg);
  -o-transform: skewX(-14deg);
  transform: skewX(-14deg);
}

.sidebar.active { 
  transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  -webkit-transform: skewX(-14deg) translateX(-300px);
  -moz-transform: skewX(-14deg) translateX(-300px);
  -ms-transform: skewX(-14deg) translateX(-300px);
  -o-transform: skewX(-14deg) translateX(-300px);
  transform: skewX(-14deg) translateX(-300px);
}

.bar {
  display: block;
  height: 5px;
  width: 50px;
  background-color: #2D3142;
}

.bar-text {
  display: block;
  width: 50px;
  margin: auto;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
  background: transparent;
  border: none;
  top: -17px;
  position: relative;
}

.nav-right {
  position: fixed;
  right: 40px;
  top: 20px;
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none;
}

.middle {
  margin: 0 auto;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s  ease-in-out;
}

.top {
  margin: 10px auto 0 auto;
}

.bottom {
  margin: 0 auto 10px auto;
}

.top-mobile {
  margin: 10px auto;
}

.top-small {
  margin: 0 auto;
}

.bottom-small {
  margin: 0 auto;
}

.bottom-mobile {
  margin: 10px auto;
}

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right.visible-xs .active .bar {
  background-color: #FFF;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.button.active .top, .button.active .top-mobile  {
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -moz-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform: translateY(15px) rotateZ(45deg);
  transform: translateY(15px) rotateZ(45deg);
}

.button.active .bottom, .button.active .bottom-mobile {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.button.active .middle {
  opacity: 0;
}

.move-to-left {
  -webkit-transform: translateX(-90px);
  -moz-transform: translateX(-90px);
  -ms-transform: translateX(-90px);
  -o-transform: translateX(-90px);
  transform: translateX(-90px);
}

nav {
  padding-top: 30px;
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  bottom: -352px;
  right: -29px;
  text-align: left;
}

.sidebar-item {
  margin: 50px 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all .7s .4s ease-in-out;
  -moz-transition: all .7s .4s ease-in-out;
  -ms-transition: all .7s .4s ease-in-out;
  -o-transition: all .7s .4s ease-in-out;
  transition: all .7s .4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:last-child {
  -webkit-transition: all .7s .8s ease-in-out;
  -moz-transition: all .7s .8s ease-in-out;
  -ms-transition: all .7s .8s ease-in-out;
  -o-transition: all .7s .8s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.sidebar-anchor {
  color: #FFF;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
  font-family: 'Arimo', sans-serif;
}

.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

.ua {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.fa {
  font-size: 1.4em;
  color: #EF8354;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.ua:hover .fa {
  color: #FFF;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@media (min-width: 480px) {
  .nav-list {
    display: block;
  }
}

@media (min-width: 768px) {
  .nav-right {
    position: absolute;
  }
  .hidden-xs {
    display: block;
  }
  .visible-xs {
    display: none;
  }
}

@media (max-width: 768px) {
  .button {
    top: 16px;
    right: -28px;
  }

  .leaflet-touch .leaflet-bar a {
    padding: 0px;
  }

  .leaflet-left {
    left: -10px;
  }

  .leaflet-top {
    top: 20%;
  }

  .leaflet-touch .leaflet-control-zoom-out {
    font-size: 30px;
  }
  
  .leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
    font-size: 30px;
  }

  .sidebar-list {
    bottom: -194px;
    right: -19px;
  }
}

